server:
  port: 9000

spring:
  application:
    name: config-service
  config:
    import: optional:file:.env[.properties]
  cloud:
    config:
      server:
        git:
          uri: ${GIT_URI}
          ignoreLocalSshSettings: true
          private-key: ${GIT_PRIVATE_KEY}
          clone-on-start: true
          default-label: master
